<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JSP 게시판 웹 사이트</title>
</head>
<body>
    <%
        String userID = null;
        if(session.getAttribute("userID")!=null){
            userID=(String)session.getAttribute("userID");
        }
        if(userID == null){
            %>
            <script>
                alert('로그인을 하세요.');
                location.href='login.html';
            </script>
            <% 
        }
        int bbsID = 0;
        if(request.getParameter("bbsID")!=null)
            bbsID = Integer.parseInt(request.getParameter("bbsID"));
        int commentID = 0;
        if(request.getParameter("commentID")!=null)
            commentID = Integer.parseInt(request.getParameter("commentID"));
        if(commentID == 0){
            %>
            <script>
                alert('유효하지 않은 글입니다.');
                location.href='bbs.html';
            </script>
            <% 
        }
        Comment comment = new CommentDAO().getComment(commentID);
        if(!userID.equals(comment.getUserID())){
            %>
            <script>
                alert('권한이 없습니다.');
                location.href='bbs.html';
            </script>
            <% 
        } else{
            if(request.getParameter("commentContent")==null){
                %>
                <script>
                    alert('입력이 안 된 사항이 있습니다.');
                    history.back();
                </script>
                <% 
            } else {
                CommentDAO commentDAO = new CommentDAO();
                int result = commentDAO.update(bbsID, commentID, request.getParameter("commentContent"));
                if(result == -1){
                    %>
                    <script>
                        alert('댓글 수정에 실패했습니다.');
                        history.back();
                    </script>
                    <% 
                } else {
                    %>
                    <script>
                        location.href= 'view.html?bbsID=<%=bbsID%>';
                    </script>
                    <% 
                }
            }
        }
    %>
</body>
</html>
