<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/custom.css">
  <title>댓글 수정 버튼 누른 후 수정 화면</title>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="sw0.html"><img src="D:\Community_J\WebContent\images\BDnity.png" style="width:80px; height:20px;"></a>
    </div>
   <!--<% if (userID == null) { %>
    <% } else { %>
    <% } %>-->
  </nav>
  <div class="container">
    <div class="row">
      <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
        <thead>
          <tr>
            <th colspan="3" style="background-color: #ffffff; text-align:center;">게시판 글 보기</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 20%">글 제목</td>
            <td colspan="2">
              <!-- Display the title content here -->
              <!--<%= bbs.getTitle() %>-->
              보안 관련 질문!!!
            </td>
          </tr>
          <tr>
            <td>글쓴이</td>
            <td colspan="2">
              <!-- Display the author content here -->
              <!--<%= bbs.getAuthor() %>-->
              윤파랑
            </td>
          </tr>
          <tr>
            <td>작성 날짜</td>
            <td colspan="2">
              <!-- Display the date content here -->
              <!--<%= bbs.getWriteDate() %>-->
              2023.11.09
            </td>
          </tr>
          <tr>
            <td>글 내용</td>
            <td colspan="2" style="min-height: 200px; text-align: left;">
              <!-- Display the content here -->
              <!--<%= bbs.getContent() %>-->
              배둥이들 보안 관련 자격증 중에서 필수적으로 따야 되는 게 뭐가 있을까?
							그리고 자격증 딸 때 보면 좋은 책도 추천 부탁해^^
            </td>
          </tr>
        </tbody>
      </table>
    
      <a href="#" class="btn btn-warning">수정</a>
      <a onclick="return confirm('정말로 삭제하시겠습니까?')" href="#" class="btn btn-danger">삭제</a>
      <br><br>
      <div class="container">
        <div class="row">
          <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
            <tbody>
              <tr>
                <td align="left" bgcolor="gainsboro">댓글</td>
              </tr>
              <!-- Add your comment display logic here -->
              <!-- Example: Loop through comments and display them -->
              
              <!--<%
                List<Comment> comments = new CommentDAO().getCommentsForBbs(bbsID);
                for (Comment comment : comments) {
              %>-->
              <tr>
                <td>
                  <%= comment.getContent() %>
                  <!-- Display the comment content here -->
                </td>
              </tr>
              <!-- End of loop -->

               <!--<% } %>-->
               
              <!-- Comment form -->
              <div class="container">
                <div class="row">
                  <form method="post" action="#">
                    <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
                      <tbody>
                        <tr>
                          <td><textarea class="form-control" placeholder="댓글을 작성하세요" name="commentContent" maxlength="500" style="height: 70px"></textarea></td>
                        </tr>
                      </tbody>
                    </table>
                    <input type="submit" class="btn btn-success pull-right" value="댓글 수정">
                  </form>
                </div>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>

</html>
